/* GLOBALS */
body {
	background: url('../img/bg.jpg') no-repeat fixed center center #3B99D2;
	font-family: Arial, Helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6, .open-sans {
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
ul li, ul li.leaf, ul.menu.li {
	list-style: none;
}
ul.menu {
	padding: 0;
	margin: 0;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.left {
	float: left;
}
.right {
	float: right;
}
.align-left {
	text-align: left;
}
.align-center {
	text-align: center;
}
.align-right {
	text-align: right;
}

/* PAGE */
#page {
	width: 960px;
	margin: 0 auto;
}
body.sidebar-second #content {
	width: 100%;
}
body.sidebar-second #content .region.region-content {
	width: 80%;
	float: left;
}
body.front h1#page-title {
	display: none;
}

/* HEADER */
#header .region-header {
	width: 660px;
	float: right;
}
#header .block-locale {
	width: 200px;
	float: right;
}
#header .block-locale li {
	float: right;
	margin-left: 10px;
	display: block;
}
#header .block-locale li.es a,
#header .block-locale li.en a {
	padding-left: 20px;
	font-size: 11px;
	display: block;
	height: 16px;
	color: #6666CC;
}
#header .block-locale li.es a {
	background: url('../img/lang/es.png') no-repeat scroll 0 -1px transparent;
}
#header .block-locale li.en a {
	background: url('../img/lang/en.png') no-repeat scroll 0 -1px transparent;
}
#header .block-locale li.es a:hover,
#header .block-locale li.en a:hover {
	background-position: 0 -17px;
	color: #0000CC;
}

/* MAIN BLOCK */
#highlighted {
	overflow: hidden;
}
.home-left,
.main-block-left {
	width: 200px;
}
.pane-menu-menu-tabs ul.menu {
	margin-left: 8px;
	display: block;
	overflow: hidden;
}
.pane-menu-menu-tabs ul.menu li {
	float: left;
	margin: 7px 10px 0 0;
	display: block;
	padding: 0;
}
.pane-menu-menu-tabs ul.menu li a {
	padding: 20px 15px;
	width: 90px;
	text-transform: lowercase;
	background: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF, endColorstr=#7FFFFFFF);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7FFFFFFF, endColorstr=#7FFFFFFF)";
	font-family: 'Open Sans', sans-serif;
	display: block;
}
.pane-menu-menu-tabs ul.menu li a:hover {
	background-color: rgb(59, 153, 210);
	background-color: rgba(59, 153, 210, 0.5);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F3B99D2, endColorstr=#7F3B99D2);
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F3B99D2, endColorstr=#7F3B99D2)";
	text-decoration: none;
}
.tabs-slideshow	{
	width: 740px;
}
.tabs-slideshow ul {
	margin: 0;
	padding: 0;
}
.tabs-row {
	padding-bottom: 0;
	position: absolute;
	width: 740px;
	z-index: 100;
	top: 0;
	left: 0;
}
#mini-panel-main_menu_slideshow .panels-flexible-column-2-main-inside {
	position: relative;
	padding: 0;
}

/* RESERVATION FORM */
#registration-process-8 input[type=submit] {
	border: 0 none;
	padding: 3px 6px;
	font-weight: bold;
	cursor: pointer;
	background-color: #F3F3F3;
}
#registration-process-8 input:hover[type=submit] {
	background-color: #fff;
}
#registration-process-8 .form-required {
	display: none;
}
#registration-process-8 .form-item label {
	font-size: 11px;
	color: #333333;
}
#registration-process-8 #edit-check-in,
#registration-process-8 #edit-check-out {
	cursor: pointer;
}
#registration-process-8 .form-item input[type=text],
#registration-process-8 .form-item select {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	color: #666666;
	font-size: 11px;
	padding: 2px;
}