#header #block-block-1 {
/*	behavior: url('/sites/all/themes/macedonia/css/border-radius.htc');*/
}

.pane-menu-menu-tabs ul.menu li a,
.pane-menu-menu-tabs-es ul.menu li a,
#header #block-block-1,
.not-front #content .region-content,
.not-front #content h1,
.view-home li.views-row {
	background-color: transparent;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7fffffff, endColorstr=#7fffffff);
}

.pane-menu-menu-tabs ul.menu li a:hover,
.pane-menu-menu-tabs-es ul.menu li a:hover {
	background-color: transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F3B99D2, endColorstr=#7F3B99D2);
}

.not-front #content h1 {
	overflow: hidden;
}

#registration-process-8 input[type=submit] {
	padding: 3px 6px;
	width: 1;
	overflow: visible;
}